---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Contacto" description="Ponte en contacto con Vertice Studio para tus necesidades de diseño web, branding y marketing digital.">
<h1>Contacto</h1>
<p>Si deseas ponerte en contacto con nosotros, puedes enviarnos un correo electrónico a <a href="mailto:info@tuempresa.com" class="text-blue-600 hover:underline">info@tuempresa.com</a>.</p>
</Layout>