---
import Button from '../components/Button.astro';
---

<section>
    <div class="container mx-auto px-4 py-16 text-center">
        <h1 class="text-5xl font-bold mb-4">Digitaliza tu marca</h1>
        <p class="text-md mb-8">Transformamos tu visión en una presencia digital impactante.</p>
        <Button label="Contáctanos" href="/contacto" />
    </div>
</section>