---
import '../styles/global.css';

import SEO from '../components/SEO.astro';
import StructuredData from "../components/StructuredData.astro";

interface Props {
  title: string;
  description?: string;
  canonical?: string;
  schema?: object;
}

const { title, description, canonical, schema } = Astro.props;
---

<html lang="es">
  <head>
    <SEO
    title={title}
    description={description}
    canonical={canonical}
    />
    {schema && <StructuredData schema={schema} />}
  </head>

  <body>
    <slot />
  </body>
</html>